<ion-content>
  <ion-list lines="none">
    <!--<ion-list-header>-->
    <!--<ion-label>Ostrzeżenia</ion-label>-->
    <!--</ion-list-header>-->
    <ion-item [href]="post.url" *ngFor="let post of posts">
      <ion-card>
        <ion-img *ngIf="post.image" [src]="post.image"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>data</ion-card-subtitle>
          <ion-card-title>{{post.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>
</ion-content>
