<ion-content>
  <ion-list lines="none">
    <!--<ion-list-header>-->
    <!--<ion-label>Ostrzeżenia</ion-label>-->
    <!--</ion-list-header>-->
    <ion-item [href]="post.url" *ngFor="let post of posts">
      <ion-card class="welcome-card">
        <ion-img *ngIf="post.image" [src]="post.image"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{post.id}}</ion-card-subtitle>
          <ion-card-title>{{post.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <p>Now that your app has been created, you'll want to start building out features and components. Check out
            some of the resources below for next steps.</p>
        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>
</ion-content>
